.main-head {
	width: 100%;
	text-align: center;
}

.nav {
	list-style: none;
	padding-left:0;
}

.banner,
.main-footer {
	text-align: center;

	&-img{
		border-radius: 50%;
	}
}

.banner {
	padding: 3.2em 0;
	margin-bottom: 30px;
	&-heading {
		margin-bottom: 0;
	}
}


.col {
	padding: 0 1em;	
}


@media (min-width: 769px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}

	.logo {
		float: left;
		padding-top: 12px;
		margin-top: 0;
	}

	.main-nav {
		float: right;
	}
	.nav-item {
		display: inline-block;
	}

	.main-head {
		@include clearfix;
	}




}

